
.catalogo__contenedor {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;

    .catalogo__contenedor h2{
        text-transform: uppercase;
        font-size: 26px;
        margin: 10px 0;
    }
}

